body {

  font-family: "Montserrat", sans-serif;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center
}

.space-btwn {
  justify-content: space-between;
}

.space-between {
  justify-content: center;
}

.align-center {
  align-items: center
}

.s3 {
  font-size: 1.5em;
}

.s6 {
  font-size: .9em;
  margin-top: 9px;
  margin-left: 9px;
  margin-right: 9px;
}

.text-uppercase {
  text-transform: uppercase
}

.fs_7 {
  font-size: .7em;
}

.fs9 {
  font-size: 2em;
}

.w80 {
  width: 800px;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100%
}

.w70 {
  width: 80%
}

.w7 {
  width: 600px;
  display: block
}

.mt4 {
  margin-top: 1em
}

.p4 {
  padding: 2em;
}

.ml4 {
  margin-left: 1em
}

.center {
  margin: 0 auto;
}

.b {
  font-weight: bold;
}

.underline {
  border-bottom: 2px solid black;
}

.contact {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 3px;
  border-bottom: 2px solid black;
}

.space {
  margin-left: 13px;
}

.section {
  margin-top: 2em;
  background-color: #fff;
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 10px 10px 150px 1px rgba(0, 0, 0, .1)
}

.label-text {
  font-size: 9px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 6px;
}

.input-box {
  width: 100%;
  padding: .7em 0;
  border: none;
  outline: none;
  border-bottom: 2px solid #ddd;
}

.number {
  width: 100%;
  padding: .7em 0;
  border: none;
  outline: none;
  border-bottom: 2px solid #ddd;
}

.btn_register {
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.links {
  color: black;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}